!!!
%html
  %head
    %title Git Hooks | Causes
  %body
    .intro
      %p
        This is where we keep our central git hooks, which are installed via
        symlink into every repository developers work on
